{% extends "base.html" %}

{% block content %}
<h1>Register form</h1>
<form method="post">
    {{ form.hidden_tag() }}

    <div class="form-group">
        {{ form.login.label() }}
        {{ form.login(class="form-control") }}
        {% for error in form.login.errors %}
        <div class="form-error">{{ error }}</div>
        {% endfor %}
    </div>

    <div class="form-group">
        {{ form.password.label() }}
        {{ form.password(class="form-control") }}
        {% for error in form.password.errors %}
        <div class="form-error">{{ error }}</div>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.repeat_password.label() }}
        {{ form.repeat_password(class="form-control") }}
        {% for error in form.repeat_password.errors %}
        <div class="form-error">{{ error }}</div>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.surname.label() }}
        {{ form.surname(class="form-control") }}
        {% for error in form.surname.errors %}
        <div class="form-error">{{ error }}</div>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.name.label() }}
        {{ form.name(class="form-control") }}
        {% for error in form.name.errors %}
        <div class="form-error">{{ error }}</div>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.age.label() }}
        {{ form.age(class="form-control") }}
        {% for error in form.age.errors %}
        <div class="form-error">{{ error }}</div>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.position.label() }}
        {{ form.position(class="form-control") }}
        {% for error in form.position.errors %}
        <div class="form-error">{{ error }}</div>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.speciality.label() }}
        {{ form.speciality(class="form-control") }}
        {% for error in form.speciality.errors %}
        <div class="form-error">{{ error }}</div>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.address.label() }}
        {{ form.address(class="form-control") }}
        {% for error in form.address.errors %}
        <div class="form-error">{{ error }}</div>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.submit(class="form-btn") }}
    </div>

    <div class="form-error" style="margin-top: 10px;">
        {{ message }}
    </div>
</form>


{% endblock %}

